{% extends 'base.html' %}
{% block title %}
Add a New post
{% endblock %}

{% block content %}
<h1 class="text-info">Add a New Post:</h1> <br>
<form action="/users/{{user_id}}/posts/new" method="POST">
    <label for="title"><b>Title</b></label><br>
    <input type="text" name="title" placeholder="Enter A Title For Your Post"><br><br>
    <label for="content"><b>Post Content</b></label><br>
    <input type="text" name="content" placeholder="Type your post content here..."><br>
    <!-- Tag Checkboxes -->
    <br><p><b>Tags:</b></p>
    {% for tag in tags %}
    <input type="checkbox" name="tag_boxes" value="{{tag.name}}">
    <label for="{{tag.name}}">{{tag.name}}</label><br>
    {% endfor %}
    <!-- Submit Form -->
    <button type="submit">Submit</button>
</form><br>
<p> <a href="/">Go Back</a>
</p>
{% endblock %}